*/*.project
*/*.settings
*/*.classpath
*/target
.idea
/*.project
/.settings
.metadata/
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
quski-oro-datamodel-ejb/.dbeaver/
.sonarlint/